* {
    box-sizing: border-box;
}

body {
    background: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

a {
    margin-top: 2rem;
}

h2 {
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    border-radius: 10px;
    box-shadow: 0 3px 15ox rgba(0,0,0,0.9);
    border-top: 1px solid #d6c887;
    border-bottom: 1px solid #d6c887;
    margin: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.pokemon .img-container {
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
    filter: drop-shadow(0.5px 3px black);
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: #d6c887;
    border-radius: 10px 0 10px;
    position: absolute;
    top: -3px;
    left: 0px;
    font-size: 1em;
    padding: 5px 10px; 
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: white;
}

.type span {
    color: #d6c887;
    font-size: 1.2rem;
}
.search {
    width: 250px;
    height: 40px;
    outline: none;
    margin: 1.5rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #d6c887;
    border-top: 2px solid #d6c887;
    border-radius: 50px;
    line-height: 1.2rem;
    font-size: 1.4rem;
    text-align: center;
    color: #d6c887;
    letter-spacing: 2px;
    font-family: "Caveat", cursive;
}

.search::placeholder {
    text-align: center;
    color:#d6c887;
    letter-spacing: 2px;
    font-family: "Caveat", cursive;
}
